@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --police-perso: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    --clr-accent: #0307fe;
    --clr-accent-hover: #fe9103ad;
    --clr-particular: #00ccff;
    --clr-particular-hover: #00ccff9c;
    --bg-clr-primary: #FFFFFF;
    --bg-clr-sec: #FFFFFF80;
    --bg-clr-third: #F0F0F0;
    --clr-primary: #000000;
    --clr-sec: #151515;
    --clr-third: #202020;
    --btn-radius-perso: 1rem;
}

/* Normalize perso */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--police-perso);
    font-size: 1rem;
}

html, body{
    height: 100%;
    /* Pour eviter des decalages involontaires */
}
html{
    font-size: 16px;
    /* Définition de mon rem (1 rem = 16px). */
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* Maintenir le container mais etendre le body pour les ecrans ultra-larges */
}

button{
    border: none;
    cursor: pointer;
    border-radius: var(--btn-radius-perso);
}
button:hover{
    opacity: 0.8;
    transition: all 0.5s ease;
}

input, select{
    outline: none;
    border: none;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* Start */

body{
    background-image: url('bg-img-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: max(500px, 80vh);
    padding: 0 2rem;
    position: relative;
}
.content{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 50%;
    height: 85%;
    min-height: 540px;
    padding: 2rem 2rem;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 1rem;
}

.content section{
    margin: 0 0;
}
.content .denomination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content .denomination > *{
    width: 100%;
    margin: 0.5rem 0;
}
.content .denomination > h2{
    font-size: 1.9rem;
}
.content .denomination > h3{
    font-size: 1rem;
}
.content .denomination > h4{
    font-size: 0.7rem;
    font-style: italic;
    text-align: right;
}

.block-from, .block-to{
    display: flex;
    border: 1px solid black;
    min-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    position: relative;
}
.block-from #from, .block-to #to{
    width: 5rem;
}
.block-from #amount, .block-to #result{
    flex: 1;
    padding: 0 0.5rem;
}
.block-from #amount, .block-to #result:disabled{
    color: #000000;
}
.block-from #lbl-from, .block-to #lbl-to{
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: 0.9rem;
}

.ratio{
    margin-top: 2rem;
}
.ratio div{
    text-align: center;
    margin: 0.5rem 0;
}
.ratio .one-to{
    font-weight: bold;
}
.ratio .one-to #convert-base{
    color: var(--clr-accent);
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.4rem;
}

@media screen and (max-width: 850px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .content{
        max-width: 480px;
        width: auto;
        margin: 0 0.5rem;
        padding: 1rem 1rem;
    }
}